<div class="container px-sm-0 pt-sm-3">
<section class="newsletter row d-flex justify-content-between px-sm-0 mt-5 mx-0">
    <div class="news-left col-md-6 ps-sm-5">
        <h1 class="fw-bolder mt-md-5 mb-4 ">
            STAY UPTO DATE ABOUT OUR LATEST OFFERS
        </h1>
    </div>

    <div class="news-right col-md-5 d-flex align-items-center justify-content-center">

        <div class="input-box">
            <i class="bi bi-envelope"></i>
            <input type="email" placeholder="Enter your email address">
        </div>

        <button class="button">Subscribe to Newsletter</button>

    </div>
</section>
</div>
<!-- FOOTER -->
<footer class="footer">
    <div class="container border-bottom pb-5">

        <div class="brand">
            <h2 class="fw-bolder">SHOP.CO</h2>
            <p>We have clothes that suits your style and which you’re proud to wear.</p>
            <div class="social-icons">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-twitter mx-2"></i>
                <i class="bi bi-instagram me-2"></i>
                <i class="bi bi-linkedin"></i>  
            </div>
        </div>

        <div class="links">
            <h5 class="fw-normal">COMPANY</h5>
            <p>About</p>
            <p>Features</p>
            <p>Works</p>
            <p>Career</p>
        </div>

        <div class="links">
            <h5 class="fw-normal">HELP</h5>
            <p>Customer Support</p>
            <p>Delivery Details</p>
            <p>Terms & Conditions</p>
            <p>Privacy Policy</p>
        </div>

        <div class="links">
            <h5 class="fw-normal">FAQ</h5>
            <p>Account</p>
            <p>Manage Deliveries</p>
            <p>Orders</p>
            <p>Payments</p>
        </div>

        <div class="links">
            <h5 class="fw-normal">RESOURCES</h5>
            <p>Free eBooks</p>
            <p>Development Tutorial</p>
            <p>Blog</p>
            <p>YouTube</p>
        </div>

    </div>

    <div class="footer-bottom">
        <p>Shop.co © 2000-2023, All Rights Reserved</p>
    </div>
</footer>